@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	background-color: #ffffff;
	margin-top: 4%;
  margin-bottom: 7%;
	margin-left: 9%;
	margin-right: 9%;
}

html {
	overflow-y: scroll;
}

h1 {
  font-size: 1.25em;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #676a6b;
  text-align: center;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #676a6b;
}
table, tr{
	border: 0px;
	text-align: center;
	vertical-align: center;
	padding: 5px;
	border-spacing: 5px;
}

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
		margin-left: 70%;
}
.nav li{
    display: inline;
}

.nav_link {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: #676a6b;
	padding: 7px;
	position: relative;
	background-image: linear-gradient(to right, white 50%, #e0ebeb 50%);
  background-position: 1%;
  background-size: 206%;
  transition: all 0.4s;
}
.nav_link:hover {
  background-position: -97.5%;
}

b {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #676a6b;
  background-color: #c2d6d6;
  /*background-color: #ebbcad;*/
}

a.par {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #94b8b8;
}
a.par:hover{
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #c2d6d6;
  cursor: pointer;
}

td {
	border: 0px;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: center;
	padding: 5px
}
p {
	font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 0 30px;
  font-size: 14px;
  color: #676a6b;
}
img {
	display: block;
	max-width: 300px;
	height: auto;
  text-align: center;
  vertical-align: center;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.5);
}
.modal-contet {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #d3d3d3;
    font-size: 40px;
    font-weight: bold;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}

.description {
  text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #676a6b;
	border: 2px solid #ccc;
	padding: 5px;
	background-color: #f5f5f5;
	box-shadow: 3px 3px 2px #888888;
  position:relative;
  left: 65%;
  margin-top: -30px;
  margin-right:-50px;
	width: 300px;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.items {
	padding: 10px;
	vertical-align: center;
}

#profile {
	style=opacity: .95;
	max-width: 400px;
	left:50%;
	margin-left:-200px;
	position:relative;
}
